h1.carta{
    color: black;
    font-weight: bold;
}

p.md{
    color: black;
    font-weight: bold;
}

ul.plato{
    list-style-type: circle;
}

ol.roman{
    list-style-type: upper-roman;
}

ol.segplato{
    list-style-type: lower-latin;
}
